#root{
    background-color: white;
}

.parentContainer{
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    
}