#root{
    background-color: #eeeeee;
}
.headingContainer{
    height: 40vh;
    padding: 4vw;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-image: url("https://squarepixelbucket1.s3.amazonaws.com/MainPortfolio/IMG_0686.jpg");
    background-position: -10px;
    background-size: cover;      
    background-position: center;

}


.heading, .description{
    color: white;
}
.heading{
    font-size: xx-large;
    transition: ease-in 1s;
}

.description{
    font-size: large; 
}

.imageDiv{
    position: relative;
    width: 100vw;
    height: 40vh;
    border: 1px solid black;
}

.imageDiv img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
z-index: 1;
}

@media (max-width: 1201px){
    .heading{
        font-size: x-large;
    }
    
}